body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* https://twitter.com/AllThingsSmitty/status/1254151507412496384 */
html, body, #root, .app {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  max-height: -webkit-fill-available;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(73, 71, 124);
}

body.game-mood-neutral {
  background-image: linear-gradient(
      -180deg,
      rgba(73, 71, 124, 1) 0%,
      rgba(77, 100, 138, 1) 100%
    );
}
body.game-mood-positive {
  background-image: linear-gradient(
      -180deg,
      rgba(73, 71, 124, 1) 0%,
      #ADCEE1 100%
    );
}
body.game-mood-negative {
  background-image: linear-gradient(
      -180deg,
      rgba(73, 71, 124, 1) 0%,
      #CD2500 100%
    );
}

.virus-bg  {
  background: url(/virus-bg.png) no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}
.virus-bg--middle-left {
 width: 78px; height: 78px;
 left: -24px; top: 40vh;
}
.virus-bg--middle-right {
 width: 78px; height: 78px;
 right: -24px; top: 43vh;
}
.virus-bg--bottom-left {
 width: 78px; height: 78px;
 left: -24px; bottom: 10vh;
}
.virus-bg--bottom-right {
 width: 148px; height: 148px;
 right: -32px; bottom: -24px;
}

.app {
  display: flex;
  justify-content: center;
}

.main-menu {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-menu__link {
  background-color: rgb(210, 1, 1);
  flex: 1;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px -10px rgba(61, 61, 82, 1);
  margin-bottom: 16px;
  text-align: center;
}

.main-menu__link:hover {
  background-color: #ff0000;
  box-shadow: 0px 8px 16px -10px rgb(255, 0, 0);
}

.navi__link {
  background-color: rgb(39, 30, 70);
  flex: 1;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px -10px rgba(61, 61, 82, 1);
  margin-bottom: 16px;
}

.navi__link:hover {
  background-color: rgb(49, 34, 101);
  box-shadow: 0px 8px 16px -10px rgb(66, 29, 150);
}

h1 {
  color: white;
  font-size: 24px;
}
body, p {
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (min-height: 736px) {

  h1 {
    color: white;
    font-size: 28px;
  }
  body, p {
    font-size: 18px;
    line-height: 1.4;
  }
}

a {
  color: white;
  text-decoration: none;
}



/* boardgame.io game board container */
.bgio-client {  }

.game-board {
  height: 100vh;
  height: -webkit-fill-available;
  width: 480px;
  max-width: 94vw;
  box-sizing: border-box;

  text-align: center;

  color: white;
  display: flex;
  flex-direction: column;
}

.game-board__header {
  min-height: 14vh;
}

.game-board__card {
  flex: 1;
  display: flex;
}

.game-board__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 16vh;
}
.game-board__buttons button {
 white-space: normal;
}

.button__answer {
  height: auto;
  margin-bottom: 16px;
  padding: 4px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  border-radius: 4px;
}

.button__answer:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.button__answer--secondary {
  background-color: unset;
}
.button__answer--secondary:hover {
  background-color: unset;
  background-color: rgba(255, 0, 0, 0.2);
}

.button__default {
  height: 44px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

.button__default:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.screen--help__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 32px;
  padding-bottom: 32px;
}

.screen--help__grid div {
  padding: 32px;
  color: white;
}

.screen--help__text {
  color: white;
  line-height: 24px;
}

.screen--credits__logo {
  margin-bottom: 64px;
  margin-top: 32px;
  color: white;
}

.screen--credits__logo a {
  text-decoration: underline;
}

.screen--credits__row {
  color: white;
  margin-bottom: 24px;
}

.screen--credits__row h3 {
  margin: 0px;
}

.screen--credits__button {
  margin-top: 64px;
}


/*
 * src/GameValues.js
 */
.game-values {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.game-values__virus {
}
.game-values__rest {
  flex: 1;
  text-align: end;
}


/*
 * src/Card.js
 */
.card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 16px -10px rgba(61, 61, 82, 1);

  color: #333;

  border-radius: 4px;
  padding: 18px;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.card--incident,
.card--effect {
  align-self: center;
}
.card__img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__text { padding: 4px 0 16px }
.card__text--effect,
.card__text--story {
  font-style: italic;
  color: #555;
}

.card__name { margin: 0 0 8px 0; font-size: 16px; }
.card__text { margin: 0; font-size: 14px; }
@media screen and (min-height: 667px) and (min-width: 360px) {
  .card__name { font-size: 18px; }
  .card__text { font-size: 16px; }
}
@media screen and (min-height: 812px) and (min-width: 360px)  {
  .card__name { margin: 8px 0 16px; font-size: 22px; }
  .card__text { font-size: 18px; }
}


/*
 * src/Illustration.js
 */
.illustration {
  max-width: 100%;
  height: 162px;
}
@media screen and (min-height: 667px) and (min-width: 360px) {
  .illustration {
    height: 222px;
  }
}
@media screen and (min-height: 736px) and (min-width: 360px) {
  .illustration {
    height: 262px;
  }
}
@media screen and (min-height: 812px) and (min-width: 360px) {
  .illustration {
    height: 280px;
  }
}
@media screen and (min-height: 1024px) {
  .illustration {
    height: 420px;
  }
}


/*
 * src/ValueIcon.js
 */
svg.value-icon {
  margin: 8px;
  transform: scale(.8);
}
@media screen and (min-height: 736px) and (min-width: 360px)  {
  svg.value-icon {
    margin: 16px;
    transform: unset;
  }
}