html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* https://twitter.com/AllThingsSmitty/status/1254151507412496384 */

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #49477c; /* akkkaa rgb(73, 71, 124); */
}

body.game-mood-neutral {
  background-image: linear-gradient(
    -180deg,
    rgba(73, 71, 124, 1) 0%,
    rgba(77, 100, 138, 1) 100%
  );
}

body.game-mood-positive {
  background-image: linear-gradient(
    -180deg,
    rgba(73, 71, 124, 1) 0%,
    #adcee1 100%
  );
}

body.game-mood-negative {
  background-image: linear-gradient(
    -180deg,
    rgba(73, 71, 124, 1) 0%,
    #cd2500 100%
  );
}

.virus-bg {
  background: url(/virus-bg.png) no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.virus-bg--middle-left {
  width: 78px;
  height: 78px;
  left: -24px;
  top: 40vh;
}

.virus-bg--middle-right {
  width: 78px;
  height: 78px;
  right: -24px;
  top: 43vh;
}

.virus-bg--bottom-left {
  width: 78px;
  height: 78px;
  left: -24px;
  bottom: 10vh;
}

.virus-bg--bottom-right {
  width: 148px;
  height: 148px;
  right: -32px;
  bottom: -24px;
}

@media screen and (min-height: 480px) {
  body.game-play {
    min-height: -webkit-fill-available;
    overflow: hidden;
  }
  .game-play .app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.screen {
  height: 100%;
}

.screen.screen--menu,
.screen.screen--credits,
.screen.screen--help {
  display: grid;
  text-align: center;
  margin: 16px;
}

@media screen and (min-width: 480px) {
  .screen.screen--menu,
  .screen.screen--credits,
  .screen.screen--help {
    margin: 16px auto;
  }
}

.screen .game-board {
  display: grid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-items: stretch;
  padding: 0 16px;
}

.screen--game .game-board {
  grid-template-columns: auto;
  grid-template-rows: 68px auto 136px;
  grid-template-areas: "header" "main" "footer";
}

@media screen and (min-width: 480px) {
  .screen .game-board {
    margin: 24px auto;
  }
  .screen--game .game-board {
    grid-template-rows: 84px auto 136px;
  }
  .screen--menu,
  .screen--help,
  .screen--credits {
    margin: 16px auto;
    max-width: 480px;
  }
}

.game-board__header {
  grid-area: header;
}

.game-board__card,
.game-board__gameover {
  grid-area: main;
}

.game-board__buttons {
  grid-area: footer;
}

h1 {
  color: white;
  font-size: 24px;
}

body,
p {
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (min-height: 736px) {
  h1 {
    color: white;
    font-size: 28px;
  }

  body,
  p {
    font-size: 18px;
    line-height: 1.4;
  }
}

a {
  color: white;
  text-decoration: none;
}

/* boardgame.io game board container */
.bgio-client {
  height: 100%;
}

.game-board {
  max-width: 480px;
  box-sizing: border-box;

  color: white;
  text-align: center;
}

.game-board__header {
}

.game-board__card {
  flex: 1;
  display: flex;
}

.game-board__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  max-height: 20vh;
  padding-bottom: 16px;
}

.screen--help {
  align-items: center;
  justify-content: center;
}

.screen--help__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.screen--help__grid div {
  padding: 32px;
  color: white;
}

.screen--help__text {
  color: white;
  line-height: 24px;
  margin: 0px 32px;
  flex: 1;
  max-width: 768px;
}

.screen--credits {
  text-align: center;
}

.screen--credits__logo {
  margin-bottom: 64px;
  margin-top: 32px;
  color: white;
}

.screen--credits__logo a {
  text-decoration: underline;
}

.screen--credits__row {
  color: white;
  margin-bottom: 24px;
  font-size: 14px;
}

.screen--credits__row h3 {
  margin: 0px;
  font-size: 18px;
}

.screen--credits__row p {
  margin: 0px;
  font-size: 14px;
}

.screen--credits__button {
  margin-top: 64px;
  display: block;
}

/*
 * src/GameValues.js
 */
.game-values {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.game-values__rest {
  flex: 1;
  text-align: end;
}

@media screen and (max-width: 319px) {
  .game-values__rest .value-icon {
    width: 24px;
  }

  .game-values__virus .value-icon {
    width: 32px;
  }
}

@media screen and (max-width: 340px) {
  .game-values__rest .value-icon {
    width: 32px;
  }

  .game-values__virus .value-icon {
    width: 40px;
  }
}

/*
 * src/ScreenButton.js
 */

.screen-button {
  background-color: rgb(39, 30, 70);
  flex: 1;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px -10px rgba(61, 61, 82, 1);
  margin-bottom: 16px;
  text-align: center;
  display: block;
}

.screen-button:hover {
  background-color: rgb(49, 34, 101);
  box-shadow: 0px 8px 16px -10px rgb(66, 29, 150);
}

.screen-button--primary {
  background-color: rgb(210, 1, 1);
}

.screen-button--primary:hover {
  background-color: #f00;
  box-shadow: 0px 8px 16px -10px rgb(255, 0, 0);
}

/*
 * src/GameButton.js
 */

.game-button {
  white-space: normal;
  max-height: 56px;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
}

.game-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.game-button--secondary {
  background-color: unset;
  margin: 0;
}

.game-button--secondary:hover {
  background-color: unset;
  background-color: rgba(255, 0, 0, 0.2);
}

.game-button--placeholder {
  background: transparent !important;
  touch-action: none;
  outline: none;
}

/*
 * src/ScreenHelp.js
 */


.game-over {
  width: 100%;
  box-sizing: border-box;
}

/*
 * src/Card.js
 */
.card {
  background-color: #fff;
  box-shadow: 0 8px 16px -10px rgba(61, 61, 82, 1);

  color: #333;

  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  text-align: center;

  display: flex;
  flex-direction: column;

  position: relative;
  /* because of absolutely positioned week no span */
}

@media screen and (orientation: portrait) and (min-height: 320px) {
  .card {
    max-height: calc(100vh - 264px);
  }

  .game-over {
    max-height: calc(100vh - 264px);
    overflow: auto;
  }
}

@media screen and (min-height: 560px) {
  .card {
    max-height: calc(100vh - 200px);
  }

  .game-over {
    max-height: calc(100vh - 200px);
    overflow: auto;
  }
}

.card--incident,
.card--effect {
  display: flex;
  justify-content: center;
}

.card__img picture {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Image loading in Card component */
}

.card__img--story {
  margin: 0px;
}

.card__img--story .illustration {
  margin: 0;
}

.card__text {
  padding: 4px 0 16px;
}

.card__text--effect {
  font-style: italic;
  color: #555;
}

.card__text--story {
  color: #555;
  text-align: left;
  overflow: auto;
}

.card__name > span {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  top: 16px;
  right: 16px;
}

.card__name {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.card__text {
  margin: 0;
  font-size: 14px;
}

@media screen and (min-height: 667px) and (min-width: 360px) {
  .card__name {
    font-size: 18px;
  }

  .card__text {
    font-size: 16px;
  }
}

@media screen and (min-height: 812px) and (min-width: 360px) {
  .card__name {
    margin: 8px 0 16px;
    font-size: 22px;
  }

  .card__text {
    font-size: 18px;
  }
}

/*
 * src/Illustration.js
 */
.illustration {
  /* size is determined by picture element,
   keeps size ratio from html attributes */
  width: auto;
  height: auto;
  margin-top: 16px;
  margin-bottom: 32px;
}

/*
 * src/ValueIcon.js
 */
svg.value-icon {
  margin: 0 8px;
  transform: scale(0.8);
}

@media screen and (min-width: 480px) {
  svg.value-icon {
    margin: 0 16px;
    transform: unset;
  }
}

@media screen and (min-width: 840px) {
  svg.value-icon {
    margin: 0 24px;
  }
}
