html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* https://twitter.com/AllThingsSmitty/status/1254151507412496384 */

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #49477c; /* akkkaa rgb(73, 71, 124); */
}


@media screen and (min-height: 480px) {
  body.game-play {
    min-height: -webkit-fill-available;
    overflow: hidden;
  }
  .game-play .app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.screen .game-board {
  display: grid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-items: stretch;
  padding: 0 16px;
}


@media screen and (min-width: 480px) {
  .screen--menu,
  .screen--help,
  .screen--credits {
    margin: 24px auto;
    max-width: 480px;
  }
}



/* boardgame.io game board container */
.bgio-client {
  height: 100%;
}


.screen--help {
  align-items: center;
  justify-content: center;
}

.screen--help__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.screen--help__grid div {
  color: white;
}

@media screen and (min-width: 480px) {
  .screen--help__grid {
    grid-gap: 16px;
  }
}

.screen--help__text {
  color: white;
  line-height: 24px;
  margin: 0 32px;
  flex: 1;
  max-width: 768px;
}




@media screen and (orientation: portrait) and (min-height: 321px) {
  .card {
    max-height: calc(100vh - 264px);
  }

  .game-over {
    max-height: calc(100vh - 256px);
    overflow: auto;
  }

  .game-board--story .card {
    max-height: calc(100vh - 216px);
  }
}

@media screen and (min-height: 553px) {
  .card {
    min-height: 364px;
    padding: 18px;
  }

  .game-over {
    max-height: calc(100vh - 272px);
    overflow: auto;
  }

  .game-board--story .card {
    max-height: 400px;
  }
}

@media screen and (min-height: 560px) {
  .card {
    max-height: calc(100vh - 200px);
  }

  .game-over {
    max-height: calc(100vh - 256px);
    overflow: auto;
  }

  .game-board--story .card {
    max-height: calc(100vh - 156px);
  }
}

@media screen and (min-width: 840px) {
  .card {
    max-height: calc(100vh - 260px);
  }
  .game-board--story .card {
    max-height: calc(100vh - 216px);
  }
}



